<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} Page</title>
    {% else %}
        <title>Welcome Page</title>
    {% endif %}
</head>
<body>
    <div>Home page: <a href="/">Home</a></div>
    {% if current_user.is_anonymous %}
        <div>Login page: <a href="/login">Login</a></div>
    {% else %}
        <div>My page: <a href="{{ url_for('user', username=current_user.username) }}">My page</a></div>
        <div>Logout page: <a href="/logout">Logout</a></div>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}

    {% block subContent %}{% endblock %}
</body>
</html>